* {
    box-sizing: border-box;
}

.form {
    width: 300px;
    float: left;
}

.menu {
    float: right;
    vertical-align: top;
}

.button {
    margin-left: 23px;
}

.div {
    margin-bottom: 20px;
}