.space {
    margin-left: 500px;
    margin-bottom: 20px;
}

.menu {
    float: right;
    margin-right: 200px;
    vertical-align: top;
    width: 500px;
}

.button {
    margin-left: 23px;
}

.div {
    margin-bottom: 20px;
}
